**node_modules/
API/resources/
npm-debug.log
.DS_Store

/resources/

/uploads

.pruebas-91a5d-firebase-adminsdk-pgcw7-03b1af47fc.json
.uploadMulipleGCP copy.js
.env

# Certificados
/cert
/cert_propiedades_result

levinchi-a2678-firebase-adminsdk-fbsvc-1ee4339d36.json
client_secret_97417099324-4je6hoghi5i1jajen3s31b0ruqhkc2ut.apps.googleusercontent.com.json

changeLog
